<section class="note-list">
    <header>
        <h1>{{title}}</h1>
    </header>
    <section class="note-table" *ngIf="notes.length > 0">
        <ul>
            <li *ngFor="let note of notes">
                <div class="note">
                    <label>{{note.title}}</label>
                    <a href="#">Edit</a>    
                </div>
            </li>
        </ul>
    </section>
    <section class="add-note">
        <input name="title" placeholder="title" autofocus="" [(ngModel)]="newNote.title" />
        <textarea name="content" placeholder="content" [(ngModel)]="newNote.content"></textarea>
        <button (click)="addNote()">Add</button>
    </section>
    <footer class="footer" *ngIf="notes.length > 0">
        <span class="note-count">
            <strong>{{notes.length}}</strong>
            {{notes.length == 1 ? 'item' : 'items'}} total notes
        </span>
    </footer>
</section>
